<!DOCTYPE html>

<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www/thymeleaf.org"
        layout:decorate="~{fragments/sidebar}"
>
<body>
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<div layout:fragment="content">
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-0">
            <span class="text-muted fw-light">Product /</span
            ><span class="fw-medium"> Add Product</span>
      </h4>

      <div class="app-ecommerce">
        <!-- Add Product -->
        <div
                class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3"
        >
          <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1 mt-3">Add a new Product</h4>
            <p class="text-muted">Orders placed across your store</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xxl">
            <div class="card mb-4">
              <div
                      class="card-header d-flex align-items-center justify-content-between"
              >
                <h5 class="mb-0">Enter your Product</h5>
                <small class="text-muted float-end">Default label</small>
              </div>
              <div class="card-body">
                <form id="formAuthentication">
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="agregator">Agregator name</label>
                    <div class="col-sm-10">
                      <input
                              type="text"
                              class="form-control"
                              id="agregator"
                              name="agregator"
                              placeholder="Mark"
                              autofocus
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="product">Product code</label>
                    <div class="col-sm-10">
                      <input
                              type="text"
                              class="form-control"
                              id="product"
                              name="product"
                              placeholder="A1001"
                              autofocus
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="product_name">Product name</label>
                    <div class="col-sm-10">
                      <input
                              type="text"
                              class="form-control"
                              id="product_name"
                              name="product_name"
                              placeholder="Nike"
                              autofocus
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="fee">Fee</label>
                    <div class="col-sm-10">
                      <input
                              type="number"
                              class="form-control"
                              id="fee"
                              name="fee"
                              placeholder="100.000"
                              autofocus
                      />
                    </div>
                  </div>
                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../assets/js/pages-auth.js"></script>
</body>
</html>
