<!DOCTYPE html>

<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www/thymeleaf.org"
        layout:decorate="~{fragments/sidebar}">
<body>
<div layout:fragment="content">
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-0">
      <span class="text-muted fw-light">Product /</span
      ><span class="fw-medium"> Edit Product Code</span>
      </h4>

      <div class="app-ecommerce">
        <!-- Add Product -->
        <div class="row">
          <div class="col-xxl">
            <div class="card mb-4">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Edit your Product Code</h5>
              </div>
              <div class="card-body">
                <form id="formAuthentication" method="post" role="form" th:action="@{'/product/edit/' + ${productCode}}" th:object="${product}" class="form-horizontal">
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="productCode">Product code</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="productCode" name="productCode" th:field=*{productCode} readonly/>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="agregatorName">Agregator Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="agregatorName" name="agregatorName" th:field=*{agregatorName} autofocus/>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="productName">Product name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="productName" name="productName" th:field=*{productName} autofocus/>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="fee">Fee</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="fee" name="fee" th:field=*{fee} autofocus/>
                    </div>
                  </div>

                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="content-backdrop fade"></div>
      </div>
    </div>
  </div>


</div>
</body>
</html>
