<!DOCTYPE html>

<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www/thymeleaf.org"
        layout:decorate="~{fragments/sidebar}">
<body>
<div layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="py-3 mb-0">
      <span class="text-muted fw-light">Whitelist Rekening /</span
      ><span class="fw-medium"> Edit Rekening</span>
            </h4>

            <div class="app-ecommerce">
                <!-- Add Product -->
                <div class="row">
                    <div class="col-xxl">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">Edit your Rekening</h5>
                            </div>
                            <div class="card-body">
                                <form id="formAuthentication" method="post" role="form" th:action="@{'/rekening/edit/' + ${clientId}}" th:object="${rekening}" class="form-horizontal">
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="clientId">Client Id</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="clientId" name="clientId" th:field=*{clientId} readonly/>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="noRekening">No Rekening</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="noRekening" name="noRekening" th:field=*{noRekening} autofocus/>
                                        </div>
                                    </div>

                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
