<!DOCTYPE html>

<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www/thymeleaf.org"
        layout:decorate="~{fragments/sidebar}"
>
<body>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<div layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="py-3 mb-0">
            <span class="text-muted fw-light">Guru /</span
            ><span class="fw-medium"> Add Guru</span>
            </h4>

            <div class="app-ecommerce">
                <!-- Add Product -->
                <div class="row">
                    <div class="col-xxl">
                        <div class="card mb-4">
                            <div
                                    class="card-header d-flex align-items-center justify-content-between"
                            >
                                <h5 class="mb-0">Enter your Guru</h5>
                            </div>
                            <div class="card-body">
                                <form id="formAuthentication" method="post" role="form" th:action="@{/guru/create}" th:object="${guru}" class="form-horizontal">
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="kodeGuru">Kode Guru</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="kodeGuru" name="kodeGuru" placeholder="Kode Guru" autofocus/>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="namaGuru">Nama Guru</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="namaGuru" name="namaGuru" placeholder="Nama Guru" autofocus/>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../assets/js/pages-auth.js"></script>
</body>
</html>
